---
title: Peluncuran Cipta Media Bersama
layout: info
---

<div class="container" style="margin-top: 70px;">
	
    <div class="row">
        <div class="col-lg-12">
            <p><small><a href="/index.html#one">Beranda</a> > <a href="proses.html">Proses Cipta Media Bersama</a> > Peluncuran</small></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Peluncuran Cipta Media Bersama</h1>
        </div>
    </div>
	
    <div class="row article">
      <div class="col-md-12">
      
            <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#peluncuran">Peluncuran</a></li>
            <li><a data-toggle="tab" href="#form">Form Pendaftaran</a></li>
            </ul>

            <div class="tab-content">
            	<div id="peluncuran" class="tab-pane fade in active">
            		<br/>
                    <h2>Ford Foundation Meluncurkan ‘Cipta Media Bersama’ Hibah Terbuka Untuk Publik Senilai Satu Juta Dolar AS</h2>
                    <p>Jakarta, 15 Juli 2011</p>
                    <p>Ford Foundation bersama tiga organisasi pendukungnya; Wikimedia Indonesia, ICT Watch dan Aliansi Jurnalis Independen (AJI) Indonesia secara resmi meluncurkan "Cipta Media Bersama" di Jakarta, Jum'at, 15 Juli 2011. Hibah media terbuka untuk publik ini diharapkan mampu untuk dapat memunculkan inisiatif-inisiatif baru sebagai contoh terbaik yang dapat memperbaiki kondisi media di Indonesia. Empat topik yang digariskan sebagai pilihan permintaan hibah media termasuk (1) Meretas batas – Kebhinekaan bermedia; (2) Keadilan dan kesetaraan akses terhadap media; (3) Kebebasan dan etika bermedia; (4) Pemantauan media.</p>
                    <p>Hibah senilai satu juta dolar AS (setara dengan 8,5 milyar rupiah) ini pada seleksi awalnya akan melibatkan publik untuk memilih lima terbaik melalui situs web www.ciptamedia.org, sementara panitia yang berasal dari organisasi pendukung akan meneruskan dua puluh lima inisiatif terbaik pada Tim Penasihat dan Seleksi Akhir. Tim Penasihat dan Seleksi Akhir yang terdiri dari 9 (sembilan) ahli di bidang masing-masing akan menentukan inisiatif yang akan menerima hibah pada 7 November 2011.</p>
                    <p>David Hulse, Ford Foundation Country Representative dalam sambutannya menyatakan bahwa Ford Foundation menyadari bahwa apapun masalahnya ada satu benang penghubung yang mengikat persoalan-persoalan mendasar didunia yaitu keadilan sosial. Menurut David kebebasan berpendapat sangat mendasar dan kebutuhan yang sangat penting untuk dilindungi lebih dahulu daripada kebutuhan sandang, pangan dan papan. Heidi Arbuckle sebagai kepala bidang media Ford Foundation mengemukakan bahwa hibah ini diharapkan tidak saja untuk menciptakan inisiatif baru, namun juga mengajak masyarakat untuk ikut peduli tentang hak dan tanggung jawab mereka sebagai pengguna dan pelaku media.</p>
                    <p>Tokoh media Indonesia, Wimar Witoelar, yang dikenal kritis akan media mengajak publik untuk ikut berpikir bersama dan berpikir ulang terhadap kebijakan dan peraturan media lama apakah tepat untuk media baru dan praktek-praktek baru terhadap media kini. Onno Purbo menambahkan bahwa inisiatif ini akan dapat menjadi fondasi penting untuk mengubah paradigma masyarakat Indonesia dengan cara memberikan contoh terbaik.</p>
            	</div>
            	<div id="form" class="tab-pane fade">
            		<br/>
                    <h2>Formulir Pendaftaran</h2>
                    <h4>Identitas</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2">Masukkan nama identitas anda sesuai dengan tanda pengenal yang sah (KTP/ SIM/ Paspor) yang anda miliki.</td>
                          </tr>
                        <tr>
                          <td>Nama depan *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Nama belakang * <br><small>Pertanyaan ini harus diisi silahkan isi dengan tanda strip ( - ) bila tidak ada</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Lokasi (Propinsi/ Kabupaten/ Kota) *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Jenis kelamin *</td>
                          <td><input type="radio" name="gender" value="pria">
                          <label for="radio">Pria </label>
                          <input type="radio" name="gender" value="wanita">
                          <label for="radio">Wanita </label></td>
                        </tr>
                        <tr>
                          <td>Nomor telpon1 (Ponsel/ rumah/ kantor) * <br><small>Contoh: +62-811-123456 (ponsel)</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Nomor telpon 2 (Ponsel/ rumah/ kantor) * <br><small>Contoh: +62-21-7501234 (rumah/ kantor)</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Alamat surel *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Situs Web/ blog * <br><small>Pertanyaan ini harus diisi, apabila anda tidak memiliki situs web/ blog, silahkan dijawab dengan "tidak ada"</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Facebook * <br><small>Pertanyaan ini harus diisi, apabila anda tidak memiliki akun facebook silahkan dijawab dengan "tidak ada"</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Twitter * <br><small>Pertanyaan ini harus diisi, apabila organisasi anda tidak memiliki akun twitter silahkan dijawab dengan "tidak ada"</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Media sosial lainnya</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Status facebook/ twitter terakhir dan/ atau kutipan dalam tanda tangan surel *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Organisasi</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2">Apabila hibah yang anda minta terkait dengan insititusi, organisasi, atau perusahaan, silahkan diisi keterangan yang diminta dibawah ini. Bila tidak, bisa diisi dengan "tidak ada".</td>
                          </tr>
                        <tr>
                          <td>Nama Organisasi *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Misi organisasi * <br><small>Jabarkan dengan singkat, lugas, dan jelas (tidak lebih dari 50 kata)</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Aktif dalam misi ini sejak (atau tahun berdiri organisasi) *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Aktifitas utama organisasi * <br><small>Contoh: pemberdayaan manusia, pelatihan, advokasi, start up (proyek teknologi rintisan). Singkat tidak lebih dari 50 kata.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Situs web organisasi * <br><small>Pertanyaan ini harus diisi, apabila organisasi anda tidak memiliki situs web, silahkan dijawab dengan "tidak ada"</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Facebook organisasi * <br><small>Pertanyaan ini harus diisi, apabila organisasi anda tidak memiliki akun facebook organisasi silahkan dijawab dengan "tidak ada"</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Jumlah penyuka/ pengikut/ teman akun facebook organisasi anda * <small>Pertanyaan ini harus diisi, apabila organisasi anda tidak memiliki akun facebook organisasi silahkan dijawab dengan "tidak ada"</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Akun twitter organisasi * <br><small>Pertanyaan ini harus diisi, apabila organisasi anda tidak memiliki akun facebook organisasi silahkan dijawab dengan "tidak ada"</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Anggota Tim</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2">Sebutkan anggota tim Anda bila ada.</td>
                          </tr>
                        <tr>
                          <td>Anggota Tim 1 <br><small>Nama lengkap dan peran yang orang tersebut akan lakukan dalam proyek. Contoh: Wati Sundratmaji - Akunting</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Anggota Tim 2</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Anggota Tim 3</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Anggota Tim 4</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Anggota Tim 5</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Ide Proyek Anda</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td>Judul Proyek/ Ide * <br><small>Tidak lebih dari 20 kata</small></td>
                          <td><input type="text" size="32"></td>
                          </tr>
                        <tr>
                          <td>Deskripsikan proyek anda secara singkat * <br><small>Tidak lebih dari 160 kata</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Topik yang dipilih *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Kategori *</td>
                          <td><p>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
                              Konten Lokal</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_1">
                              Teknologi Tepat Guna</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_2">
                              Pembela</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_3">
                              Aksi</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_4">
                              Pemantau Media</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_5">
                              Mediator antar pemangku kepentingan dalam bermedia</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_6">
                              Kemitraan</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_7">
                              Strategi Kreatif</label>
                            <br>
                            <label>
                              <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_8">
                              Yang lain:</label>
                            
                            <input type="text" size="32">
                            <br>
                          </p></td>
                        </tr>
                        <tr>
                          <td>Jabarkan tentang masalah yang ingin anda atasi * <br><small>Penjabaran lugas, singkat, dan jelas tidak lebih dari 100 kata. Untuk mudahnya anda dapat menjabarkan tujuan dari proyek anda disini</small></td>
                          <td><textarea name="textarea1" cols="45" rows="5"></textarea></td>
                        </tr>
                        <tr>
                          <td>Berapa lama aktifitas ini akan dilangsungkan * <br><small>Contoh: Januari - Juni 2011 (6 bulan)</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Jelaskan siapa yang akan diuntungkan dari aktifitas yang anda lakukan dan dimana lokasi mereka? * <br><small>Penjelasan singkat tidak lebih dari 75 kata. Contoh: nama kota/ desa/ sekolah)</small></td>
                          <td><textarea name="textarea2" cols="45" rows="5"></textarea></td>
                        </tr>
                        <tr>
                          <td>Jelaskan siapa yang akan diuntungkan dari aktifitas yang anda lakukan dan dimana lokasi mereka? * <br><small>Penjelasan singkat tidak lebih dari 75 kata. Contoh: nama kota/ desa/ sekolah)</small></td>
                          <td><textarea name="textarea3" cols="45" rows="5"></textarea></td>
                        </tr>
                        <tr>
                          <td>Bagaimana anda mengukur kesuksesan anda * <br><small>Anda dapat memberi contoh indikator dampak atas apa yang anda lakukan</small></td>
                          <td><textarea name="textarea4" cols="45" rows="5"></textarea></td>
                        </tr>
                        <tr>
                          <td>Organisasi/ komunitas lain pendukung inisiatif Anda <br><small>Sebutkan organisasi lain yang mendukung inisiatif Anda (bisa lebih dari satu).</small></td>
                          <td><textarea name="textarea5" cols="45" rows="5"></textarea></td>
                        </tr>
                        <tr>
                          <td>Penanda # (tag) untuk proyek anda *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Dana Hibah</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2">Jumlah dana hibah harus realistis dan secara konsisten menunjukkan biaya atas apa yang ingin dilakukan, berapa jumlah orang yang akan melakukannya, serta mencerminkan rentang waktu (lama) aktifitas.</td>
                          </tr>
                        <tr>
                          <td>Berapa jumlah dana (anggaran) yang akan anda minta untuk hal ini * <br><small>Sebutkan angka dalam mata uang rupiah (Rp.)</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Saya menyetujui untuk menerima tanggung jawab dalam pelaksanaan proyek dan untuk menyediakan laporan dan informasi yang dibutuhkan apabila saya mendapatkan hibah sebagai hasil dari permohonan ini. *<br><small>Nama lengkap anda (tanda tangan elektronik)</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        
                      </tbody>
                    </table>
                </div>
			</div>
            
        </div>
    </div>

</div>
