---
title: Pendaftaran Data Diri Cipta Media
layout: form
---

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

<script>
  function updateFields(user) {
    if (user) {
      $('#confirmName').text(user.user_metadata.full_name);
      $('#confirmEmail').text(user.email);
      $('#regis-header').hide();
      $("#ktp_name").val(user.user_metadata.full_name);     
    }
  };
  netlifyIdentity.on('login', updateFields);
  $(document).ready(function() {
    $('#logoutForm').click(function() {
      netlifyIdentity.currentUser().logout();
      window.location.reload();
    });
    $('#endgooglePhase').click(function() {
      $('#form-fieldset').removeAttr('disabled');
      $('#form-fieldset').show();
      $('#logoutForm').hide();
      $('#nik').focus();
      $('#endgooglePhase').addClass('disabled');
      $('#endgooglePhase').removeClass('btn-info');
    });
    $('#ktp_name').blur(function() {
      var wordsCount = $('#ktp_name').val().split(' ');
      if ( wordsCount.length < 2 ) {
        confirm("Anda memasukan: " + $('#ktp_name').val() + " sebagai nama lengkap Anda. Apakah nama ini sesuai dengan KTP?");
      }
      if(! $("#name").val()) {
        $('#name').val($(this).val());
      }
    });
    $("#user-data").validate({
      focusInvalid: true,
      rules: {
        name: {
          minlength: 3,
          maxlength: 75,
          oddChar: true,
          noNumber: true,
          noDotsCommas: true,
          noBrackets: true,
          fullName: true,
        },
        ktp_name: {
          minlength: 3,
          maxlength: 75,
          oddChar: true,
          noNumber: true,
          noDotsCommas: true,
          noBrackets: true,
          fullName: true,
        },
        nik: {
          digits: true,
          rangelength: [16, 16],
        },
        position: {
          minlength: 3,
          maxlength: 25,
          oddChar: true,
        },
      },
      messages: {
        name: {
          minlength: "Masukan nama panggilan yang Anda inginkan",
          maxlength: "Nama yang Anda masukan terlalu panjang",
        },
        ktp_name: {
          minlength: "Masukan nama sesuai kartu identitas",
          maxlength: "Nama yang Anda masukan terlalu panjang",
        },
        nik: {
          digits: "Masukan 16 digit NIK Anda",
          rangelength: "Masukan 16 digit NIK Anda",
        },
        position: {
          minlength: "Masukan posisi / jabatan Anda",
          maxlength: "Posisi / jabatan yang Anda masukan terlalu panjang",
        },
      },
    });
    $('#preview').click(function() {
      if($("#user-data").valid()){
        $("#entry_form").fadeOut();
        $("#preview_form").fadeIn();
        $("#next-step").hide();
        $("#preview_name").text( $("#name").val() );
        $("#preview_nik").text( $("#nik").val() );
        $("#preview_email").text( $("#email").val() );
        $("#preview_ktp_name").text( $("#ktp_name").val() );
        $("#preview_proyek").text( $("#proyek").val() );
        $("#preview_position").text( $("#position").val() );
      } else {
        $('html, body').animate({
          scrollTop: ($('.error').offset().top - 30)
        }, 200);
      }
    });
    $('#kembali').click(function() {
      $("#entry_form").fadeIn();
      $("#next-step").show();
      $("#preview_form").fadeOut();
      $("html, body").animate({ scrollTop: 0 }, "slow");
    });
  });
</script>

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">
{% include license-alert.html %}

<div class="container">
  {% include title-header.html %}
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="allcaps">{{ page.title }}</h1>
      <p>Pendaftaran ini hanya perlu dilakukan satu kali untuk memperoleh akses ke formulir-formulir laporan Cipta Media.</p>
    </div>
    <div class="col-md-12 text-center" id="regis-header">
      <p>Untuk melanjutkan pengisian formulir, Anda akan diminta untuk login dengan akun Google.</p>
      <p>Jika Anda menggunakan komputer bersama, pastikan Anda login dengan akun Google pribadi Anda</p>
      <button type="button" id="login" class="btn btn-info btn-rounded btn-outline">
        Login
      </button>
    </div>
    <div class="col-md-12 text-center" id="next-step" hidden>
      <p>
        Pastikan bahwa data di bawah adalah akun pribadi Anda dan bukan milik orang lain
      </p>
      <p>
        Jika akun di bawah benar milik Anda, klik "Selanjutnya", jika bukan, silahkan kembali dengan menekan "Logout"
      </p>
      <p style="font-family: monospace">
        <span id="confirmName"></span> &lt;<span id="confirmEmail"></span>&gt;
      </p>
      <p>
        Akun Google ini terhubung dengan proyek Cipta Media Anda, dan akan terbuka untuk publik, apabila Anda keberatan hal ini terjadi, silahkan membuat akun google lainnya. Pastikan bahwa ini adalah akun yang sesuai untuk Anda gunakan dalam proyek Cipta Media Anda yang terbuka untuk publik.
      </p>
      <button type="button" id="endgooglePhase" class="btn btn-info btn-rounded btn-outline">
        Selanjutnya
      </button>
      <button type="button" id="logoutForm" class="btn btn-info btn-rounded btn-outline">
        Logout
      </button>
    </div>
    <div class="col-md-12" id="entry_form">
      <form class="form-horizontal" id="user-data" name="user-data" netlify-honeypot="bot-field" action="thank-you" netlify>
        <fieldset id="form-fieldset" disabled hidden>
          <p class="hidden">
            <label>Don’t fill this out: <input name="bot-field"></label>
            <input type="text" name="auth_name" class="form-control" id="auth_name" readonly>
          </p>
          <h3 class="text-center biryani-yellow-subtitle">Data Pribadi</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nik">
              NIK
            </label>
            <div class="col-md-10">
              <input type="number" name="nik" class="form-control" id="nik" required>
              <div class="form-example">
                Masukan 16 digit nomor induk kependudukan (NIK) sesuai dengan yang tertera di KTP Anda. NIK tidak akan dipublikasikan untuk umum.<br>
                Contoh: 3175020509780002
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="ktp_name">
              Nama Lengkap
            </label>
            <div class="col-md-10">
              <input type="text" name="ktp_name" class="form-control" id="ktp_name" required>
              <div class="form-example">
                Gunakan nama lengkap sesuai dengan yang tertera di KTP Anda. Nama ini tidak akan dipublikasikan untuk umum.<br>
                Contoh: Dwi Satria Utama, Ivonne Kristiani
              </div>
            </div>
          </div>
          <h3 class="text-center biryani-yellow-subtitle">Data Akun</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="email">
              Surel / Email
            </label>
            <div class="col-md-10">
              <input type="email" name="email" class="form-control" id="email" required style="pointer-events: none;" readonly tabindex="-1">
              <div class="form-example">
                Email Anda akan dipublikasikan untuk umum.
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="name">
              Nama Panggilan
            </label>
            <div class="col-md-10">
              <input type="text" name="name" class="form-control" id="name" required>
              <div class="form-example">
                Gunakan nama panggilan dimana orang orang mengenal Anda dengan nama ini, jangan gunakan nama kecil, atau nama asal yang tidak dikenal orang. Anda bisa menggunakan nama panggung, atau nama publik. Nama ini akan dipublikasikan untuk umum.<br>
                Contoh: Ayu Ting Ting, Dewi Perssik
              </div>
            </div>
          </div>
          <h3 class="text-center biryani-yellow-subtitle">Terlibat Dalam</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="proyek">
              Proyek
            </label>
            <div class="col-md-10">
              <select name="proyek" class="form-control" id="proyek" required>
                <option value="" disabled selected>Pilih nama proyek Anda</option>
                {% for judul-proyek in site.data.laporan-keuangan.judul-proyek %}
                <option value="{{ judul-proyek }}">{{ judul-proyek }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="position">
              Posisi / Jabatan
            </label>
            <div class="col-md-10">
              <input type="text" name="position" class="form-control" id="position" required>
              <div class="form-example">
                Masukan nama jabatan / posisi Anda dalam proyek tersebut<br>
                Contoh: Ketua Proyek, atau Bendahara
              </div>
            </div>
          </div>
          <input type="hidden" name="user_agent" id="user_agent">
          <div class="form-group">
            <div class="col-lg-12 text-center">
              <button type="button" id="preview" class="btn btn-lg btn-danger btn-rounded btn-outline">
                Selanjutnya
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-10 col-md-offset-1" id="preview_form" hidden>
      <div class="alert alert-danger" style="margin-top: 30px;">
        <h2 class="text-center">Pratinjau Formulir Pendaftaran Data Diri</h2>
        <p class="text-center">
          Harap pastikan kembali data-data yang telah Anda masukan lalu tekan "Konfirmasi" di bawah.
        </p>
      </div>
      <h3 class="text-center biryani-yellow-subtitle">Data Pribadi</h3>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <strong>NIK</strong>
        </div>
        <div class="col-md-10" id="preview_nik"></div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <strong>Nama Lengkap</strong>
        </div>
        <div class="col-md-10" id="preview_ktp_name"></div>
      </div>
      <h3 class="text-center biryani-yellow-subtitle">Data Akun</h3>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <strong>Nama Panggilan</strong>
        </div>
        <div class="col-md-10" id="preview_name"></div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <strong>Surel / Email</strong>
        </div>
        <div class="col-md-10" id="preview_email"></div>
      </div>
      <h3 class="text-center biryani-yellow-subtitle">Terlibat Dalam</h3>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <strong>Proyek</strong>
        </div>
        <div class="col-md-10" id="preview_proyek"></div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <strong>Posisi / Jabatan</strong>
        </div>
        <div class="col-md-10" id="preview_position"></div>
      </div>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-3 text-center">
          <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="kembali">
            Kembali
          </a>
        </div>
        <div class="col-md-3 text-center">
          <button type="submit" id="sumbit-user-data" form="user-data" class="btn btn-lg btn-success btn-rounded btn-outline wow bounceIn">
            Konfirmasi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
