---
title: Pertanyaan Umum
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

{% include title-header.html %}

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="allcaps">{{ page.title }}</h1>
    </div>
  </div>
</div>

{% assign faq = site.data.faq-ciptamedia.faq %}
{% include faq.html %}
