---
title: Beranda
permalink: "/"
author: Cipta Media
layout: info
startYear: 2018
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.theme.default.css" />
<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>

<script>
function checkAuth(user) {
  if (!user) {
    netlifyIdentity.on("login", function() {
      document.location.href = "/admin/";
    });
  }

  if (user && (user.user_metadata.registered || user.user_metadata.cme_form_submitted)) {
    $("#registercme").addClass("disabled");
    $("#registercme").text('Sudah Terdaftar!');
  }
}

$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });

  var user = netlifyIdentity.currentUser();

  $("#registercme").click(function(event){
    if (!user) {
      netlifyIdentity.open();
      return false;
    }
  });

  checkAuth(netlifyIdentity.currentUser());
});

netlifyIdentity.on("init", checkAuth);
</script>

{% include facebook-jssdk.html %}
{% include index.html %}
