---
title: Formulir Laporan Keuangan
layout: form
---

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.10.0/js/md5.min.js"></script>
<script src="https://cdn.rawgit.com/snyderp/jquery.validate.file/master/jquery.validate.file.js"></script>

<script>
  $(document).ready(function() {
    $("#test").validate({
      focusInvalid: true,
      rules: {
        nama: {
          minlength: 3,
          maxlength: 75,
          oddChar: true,
          noNumber: true,
          noDotsCommas: true,
          noBrackets: true,
          fullName: true,
        },
        tel: {
          minlength: 3,
          maxlength: 20,
        },
      },
      messages: {
        nama: {
          minlength: "Harap masukan nama Anda",
          maxlength: "Nama yang Anda masukan terlalu panjang",
        },
        tel: {
          minlength: "Terlalu pendek",
          maxlength: "Terlalu panjang",
        },
      },
    });
    $('#preview').click(function() {
      if($("#test").valid()){
        $("#entry_form").fadeOut();
        $("#preview_form").fadeIn();
        $("#preview_nama").text( $("#nama").val() );
        $("#preview_email").text( $("#email").val() );
        $("#preview_tel").text( $("#tel").val() );
        $("#preview_url").text( $("#url").val() );
        $("#preview_search").text( $("#search").val() );
      } else {
        $('html, body').animate({
          scrollTop: ($('.error').offset().top - 30)
        }, 200);
      }
    });
    $('#kembali').click(function() {
      $("#entry_form").fadeIn();
      $("#preview_form").fadeOut();
      $("html, body").animate({ scrollTop: 0 }, "slow");
    });
  });
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="index-title text-center">Formulir Uji Coba</h1>
    </div>
    <div class="col-md-12" id="entry_form">
      <form class="form-horizontal" id="test" name="test" netlify-honeypot="bot-field" action="thank-you" netlify>
        <fieldset id="form-fieldset" disabled>
          <p class="hidden">
            <label>Don’t fill this out: <input name="bot-field"></label>
            <input type="text" name="auth_name" class="form-control" id="auth_name" readonly>
          </p>
          <h3 class="text-center biryani-yellow-subtitle">Data Penulis Laporan</h3>
          <hr>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nama">Nama</label>
            <div class="col-md-10">
              <input type="text" name="nama" class="form-control" id="nama" required>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="email">Surel / Email</label>
            <div class="col-md-10">
              <input type="email" name="email" class="form-control" id="email" required>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nama">Telephone</label>
            <div class="col-md-10">
              <input type="tel" name="tel" class="form-control" id="tel" required>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nama">URL</label>
            <div class="col-md-10">
              <input type="url" name="url" class="form-control" id="url" required>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label col-md-2" for="nama">Search</label>
            <div class="col-md-10">
              <input type="search" name="search" class="form-control" id="search" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12 text-center">
              <input type="hidden" name="user_agent" id="user_agent">
              <button type="button" id="preview" class="btn btn-lg btn-danger btn-rounded btn-outline">
                Selanjutnya
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-10 col-md-offset-1" id="preview_form" hidden>
      <div class="alert alert-danger" style="margin-top: 30px;">
        <h2 class="text-center">Pratinjau Transaksi</h2>
        <p class="text-center">
          Berikut adalah pratinjau laporan transaksi Anda.
          <br>
          Harap pastikan kembali data-data yang telah Anda masukan lalu tekan "Konfirmasi" di bawah.
        </p>
      </div>
      <table class="table text-center" style="margin-top: 50px;">
        <thead>
          <tr>
            <th class="text-center">Nama</th>
            <th class="text-center">Surel / Email</th>
            <th class="text-center">Telephone</th>
            <th class="text-center">URL</th>
            <th class="text-center">Search</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="preview_nama"></td>
            <td id="preview_email"></td>
            <td id="preview_tel"></td>
            <td id="preview_url"></td>
            <td id="preview_search"></td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-3 text-center">
          <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="kembali">
            Kembali
          </a>
        </div>
        <div class="col-md-3 text-center">
          <button type="submit" id="sumbittest" form="test" class="btn btn-lg btn-success btn-rounded btn-outline wow bounceIn">
            Konfirmasi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
