---
title: Kalender Aktivitas CMS
layout: info
startYear: 2015
---

    {% assign category = site.categories['CMS'] %}

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
    </div>
    {% include kalender.html %}
