<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.description }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.title }} | {{ page.title }}</title>
  <!-- Open Graph -->
  <meta property="og:url" content="http://www.ciptamedia.org/404/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="PERINGATAN: Halaman yang Anda cari tidak ditemukan.">
  <meta property="og:image" content="http://www.ciptamedia.org/static/img/landing/bg_3.jpg">
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="PERINGATAN: Halaman yang Anda cari tidak ditemukan.">
  <meta name="twitter:url" content="http://www.ciptamedia.org/404/">
  <meta name="twitter:site" content="@ciptamedia">
  <meta name="twitter:image" content="http://www.ciptamedia.org/static/img/landing/bg_3.jpg">
  <!-- Schema.org -->
  <meta itemprop="name" content="{{ site.title }}">
  <meta itemprop="description" content="PERINGATAN: Halaman yang Anda cari tidak ditemukan.">
  <meta itemprop="image" content="http://www.ciptamedia.org/static/img/landing/bg_3.jpg">
  <!-- favicon -->
  <link rel="shortcut icon" href= "{{site.baseurl}}/static/img/favicon.ico" >
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Font & Icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/fonts/font-awesome/css/font-awesome.min.css">
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/static/css/material-kit.css" rel="stylesheet">
  <link href="{{site.baseurl}}/static/css/style.css" rel="stylesheet">
  <link href="{{site.baseurl}}/static/css/index.css" rel="stylesheet">
</head>
