{% include jpages.html %}
<script>
  /* when document is ready */
  $(function() {
    /* initiate plugin */
    $("#holder").jPages({
      containerID : "itemContainer",
      perPage : 10,
      startPage: 1,
      startRange: 1,
      midRange: 3,
      endRange: 1
    });
    $("button").click(function(){
      var page = parseInt( $("input").val() );
      $("#holder").jPages( page );
    });
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive center-block" src="{{ page.img }}" style="max-height: 50vh">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="index-title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div id="itemContainer">
          {% for post in filter_category %}
          {% unless post.categories contains 'laporan' %}
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                {% if post.img %}
                <img src="{{ post.img }}" class="img-responsive center-block" style="max-height:180px">
                {% endif %}
              </div>
              <div class="col-sm-8">
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="index-title">{{ post.title }}</h3></a>
                <i class="fa fa-clock-o"></i> <a>{{ post.date | date: site.default_date_format }}</a>
                <p>{{ post.content | strip_html | truncatewords:30 }}</p>
                <div class="row">
                  <div class="col-sm-12">
                    <small>
                      {% for tag in post.tags %}
                      {{ tag }}{% if forloop.last == false %} | {% endif %}
                      {% endfor %}
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <hr class="yellow-line">
          </div>
          {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="pag-holder" id="holder"></div>
    </div>
    <div class="col-md-12">
      <input type="number" value="1" style="width: 40px; text-align: center;">
      <button>Lompat ke bagian ini</button>
    </div>
  </div>
</div>
