<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">

<div class="container">
  {% include title-header.html %}
  <div class="row">
      <div class="col-md-12 text-center" style="margin-top: 30px">
          <h1 class="allcaps">{{ page.title }}</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="allcaps text-center">Total Hibah: {{ structure.total_hibah }}</h2>
      {% for detail in structure.laporan %}
        {% assign item = detail[1] %}
        {% for grand_total in item.subkode %}
          {% assign sum_satuan = 1 %}
          {% for satuan in grand_total[1].dimensi %}
            {% assign sum_satuan = sum_satuan | times: satuan[1] %}
          {% endfor %}
          {% assign totalcost = grand_total[1].harga | times: sum_satuan %}
          {% assign grand_total_budget = grand_total_budget | plus: totalcost %}
        {% endfor %}
      {% endfor %}
      {% assign grant_diff = structure.total_hibah | minus: grand_total_budget | abs %}
      {% if grant_diff > 1000000 %}
      <div class="text-center alert alert-danger">
        <h2>Pemberitahuan</h2>
        <p>Total hibah yang diturunkan berbeda dengan total rencana anggaran.</p>
      </div>
      {% endif %}
      <table class="table">
        <tbody>
        {% for detail in structure.laporan %}
          {% assign item = detail[1] %}
          <tr style="background-color: #eee">
            <th colspan="8" class="text-center">{{ detail[0] }} - {{ detail[1].nama }}</th>
          </tr>
          {% if detail[0] != 'X' %}
          <tr>
            <th class="text-center">Kode</th>
            <th class="text-center">Keterangan</th>
            <th class="text-center" colspan="4">Satuan Unit</th>
            <th class="text-center">Harga Satuan</th>
            <th class="text-center">Jumlah</th>
          </tr>
          {% for anggarandetail in item.subkode %}
          <tr>
            <td class="text-center">{{ anggarandetail[0] }}</td>
            <td class="text-center">{{ anggarandetail[1].keterangan }}</td>
            {% for satuan in anggarandetail[1].dimensi %}
              {% if forloop.length == 1 %}
            <td colspan="2"></td>
              {% endif %}
            <td class="text-right">{{ satuan[1] }}</td>
            <td class="text-left">{{ satuan[0] }}</td>
            {% endfor %}
            <td class="text-right">{{ anggarandetail[1].harga }}</td>
            <td class="text-right">
            {% assign sum_satuan = 1 %}
            {% for satuan in anggarandetail[1].dimensi %}
              {% assign sum_satuan = sum_satuan | times: satuan[1] %}
            {% endfor %}
            {{ anggarandetail[1].harga | times: sum_satuan }}
            </td>
          </tr>
          {% endfor %}
          <tr>
            <th colspan="7" class="text-right">Subtotal {{ detail[0] }}</th>
            <th class="text-right">
            {% assign sum = 0 %}
            {% for sum-anggaran in item.subkode %}
              {% assign sum_satuan = 1 %}
              {% for satuan in sum-anggaran[1].dimensi %}
                {% assign sum_satuan = sum_satuan | times: satuan[1] %}
              {% endfor %}
              {% assign totalcost = sum-anggaran[1].harga | times: sum_satuan %}
              {% assign sum = sum | plus: totalcost %}
            {% endfor %}
            {{ sum }}
            </th>
          </tr>
          {% endif %}
          <tr>
            <th colspan="8">&nbsp;</th>
          </tr>
        {% endfor %}
          <tr>
            <th colspan="7" class="text-right">Total Rancangan Anggaran</th>
            <th class="text-right">
            {{ grand_total_budget }}
            </th>
          </tr>
        </tbody>
      </table>
      {% assign budget_link = page.permalink | split: '/' %}
      {% assign hibah_link = budget_link[1] %}
      {% assign link = budget_link | last %}
      <a href="{{ site.baseurl }}/{{ hibah_link }}/laporan-keuangan/{{ link }}/" class="btn btn-danger btn-xs pull-right"><strong>Laporan Pengeluaran</strong></a>
    </div>
  </div>
</div>
