      <p class="field_name">Organisasi</p>
      <p>{{ page.organisasi }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Topik</strong></p>
      <p>{{ page.topik }}</p>
      <p class="field_name">Deskripsi Proyek</p>
      <p>{{ page.deskripsi | xml_escape | newline_to_br }}</p>
      <p class="field_name">Masalah yang Diangkat</p>
      <p>{{ page.masalah | xml_escape | newline_to_br }}</p>
      <p class="field_name">Solusi</p>
      <p>{{ page.solusi | xml_escape | newline_to_br }}</p>
      <p class="field_name">Target</p>
      <p>{{ page.target | xml_escape | newline_to_br }}</p>
      <p class="field_name">Indikator Sukses</p>
      <p>{{ page.sukses | xml_escape | newline_to_br }}</p>
      <p class="field_name">Lokasi</p>
      <p>{{ page.lokasi }}</p>
      <p class="field_name">Dana yang Dibutuhkan</p>
      <p>{{ page.dana }}</p>
      <p class="field_name">Durasi Proyek</p>
      <p>{{ page.durasi }}</p>
    </div>
