      <p class="field_name">Bidang Seni</p>
      <p>{{ page.seni }}</p>
      <p class="field_name">Pengalaman</p>
      <p>{{ page.pengalaman | xml_escape }}</p>
      <p class="field_name">Contoh Karya</p>
      <a href="{{site.baseurl}}{{ page.file.url }}">{{ page.file.filename }}</a>
      <p class="field_name">Situs Web</p>
      <p>{{ page.website | xml_escape }}</p>
      <p class="field_name">Media Sosial</p>
      <p>{{ page.sosmed | xml_escape }}</p>
    </div>
    <div class="col-md-6">
      <p><strong>Kategori Proyek</strong></p>
      <p>{{ page.kategori }}</p>
      <p class="field_name">Deskripsi Proyek</p>
      <p>{{ page.deskripsi | xml_escape }}</p>
      <p class="field_name">Latar Belakang Proyek</p>
      <p>{{ page.latar_belakang | xml_escape }}</p>
      <p class="field_name">Masalah yang Diangkat</p>
      <p>{{ page.masalah | xml_escape }}</p>
      <p class="field_name">Indikator Sukses</p>
      <p>{{ page.sukses | xml_escape }}</p>
      <p class="field_name">Lokasi</p>
      <p>{{ page.lokasi }}</p>
      <p class="field_name">Dana yang Dibutuhkan</p>
      <p>Rp.{{ page.dana }} Juta</p>
      <p class="field_name">Durasi Proyek</p>
      <p>{{ page.durasi }}</p>
    </div>
