<link rel="stylesheet" href="{{site.baseurl}}/static/css/curated-media.css">

<div class="container">
<div class="row text-center">
    <div class="section-header text-center">
        <h2 class="title">Berita Terbaru</h2>
    </div>
    <div id="curated-media-instagram" class="col-md-6 col-md-offset-1">
        <h3 class="title">Instagram</h3>
        <blockquote class="instagram-media instagram-style-blockquote" data-instgrm-permalink="{{ site.data.curated-media.instagram.url }}" data-instgrm-version="8">
            <div class="instagram-style-shell">
                <div class="instagram-bg">
                    <div class="instagram-bg-img"></div>
                </div>
                <p class="instagram-style-p">
                    <a href="{{ site.data.curated-media.instagram.url }}" class="instagram-style-a" target="_blank">
                        {{ site.data.curated-media.instagram.note }}
                    </a>
                    on {{ site.data.curated-media.instagram.date }}
                </p>
            </div>
        </blockquote>
        <script async defer src="//www.instagram.com/embed.js"></script>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div id="curated-media-facebook" class="col-md-12">
                <h3 class="title">Facebook</h3>
                <div class="fb-post" data-href="{{ site.data.curated-media.facebook.url }}" data-show-text="true">
                    <blockquote cite="{{ site.data.curated-media.facebook.url }}" class="fb-xfbml-parse-ignore">
                        <p>{{ site.data.curated-media.facebook.snippet }}</p>
                        Dikirim oleh <a href="{{ site.socials.facebook }}">Cipta Media Ekspresi</a> pada&nbsp;<a href="{{ site.data.curated-media.facebook.url }}">{{ site.data.curated-media.facebook.date }}</a>
                    </blockquote>
                </div>
            </div>
        </div>
        <hr class="yellow-line">
        <div class="row">
            <div id="curated-media-youtube" class="col-md-12">
                <h3 class="title">Youtube</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ site.data.curated-media.youtube.url }}"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
