<div
  class='alert alert-info'
  style="position: fixed; bottom: 0; z-index: 10; margin: 0"
>
  <button type="button" class="close" data-dismiss="alert" aria-label="Tutup">
    <span aria-hidden="true">&times;</span>
  </button>
  <div style="cursor: pointer" id="maximize-btn">
  Anda berada di mode pratinjau.<br>
  (click to expand)
  </div>
  <div id="maximize" hidden>
  <button id="activateForm" class="btn-link text-danger"><u>Aktifkan Form</u></button> |
  <button id="_clearUser" class="btn-link text-danger"><u>Reset status terdaftar</u></button> |
  <button id="bypass-login" class="btn-link text-danger"><u>Bypass Login</u></button> |
  <button id="logout" class="btn-link text-danger"><u>Logout</u></button>
  </div>
</div>
<script type="text/javascript">

$(document).ready(
  function() {
    $('#maximize-btn').click(function(){
      $('#maximize').toggle('slow');
    });

    if (!netlifyIdentity.currentUser()) return;

    $('#_clearUser').click(_clearUser);
    $('#logout').click(logout);
  }
)
const _clearUser = function() {
  netlifyIdentity.currentUser().update( {data: {cme_form_submitted: false}}).
  then(function() {
    alert('Status terdaftar sudah di hapus, halaman akan di muat ulang!');
    window.location.reload();
  })
}
var logout = function() {
  netlifyIdentity.currentUser().logout().
  then(function() {
    alert('Anda telah logout, halaman akan di muat ulang!');
    window.location.reload();
  })
}
$('#activateForm').click(function() {
  const user = netlifyIdentity.currentUser();
  netlifyIdentity.open();
  
  function checkAuth(user) {
    if (user && !(user.user_metadata.registered || user.user_metadata.cme_form_submitted)) {
      return setIdentity(user);
    }
  }

  netlifyIdentity.on("init", checkAuth);
  
  $("#email").val(user.email);
  $("#auth_name").val(user.user_metadata.full_name);
  $("#form-fieldset").removeAttr('disabled');
  $("#registration-close").hide();
  $("#preview").removeAttr('disabled').text("Selanjutnya");
});

$('#bypass-login').click(function() {
  $("#form-fieldset").removeAttr("disabled");
  $("#email").removeAttr("readonly style tabindex");
  $("#loginwarning").hide();
});
</script>
