<div class="container">
  <div class="row">
    {% for category in faq %}
    <div class="col-md-3 text-center">
      <a href="#{{ category[0] }}"><h3 class="allcaps">{{ category[0] }}</h3></a>
    </div>
    {% endfor %}
  </div>
  <hr class="index-hr">
  {% for faq in faq %}
  {% assign count1 = count1 | plus:1 %}
  <div class="row">
    <h3 class="text-center allcaps" id="{{ faq[0] }}">{{ faq[0] }}</h3>
    {% assign count2 = 0 %}
    {% for sequence in faq[1] %}
    {% assign count2 = count2 | plus:1 %}
    {% assign clearfix = count2 | modulo:2 %}
    <div class="col-md-6">
      <a data-toggle="collapse" data-target="#q{{ count1 }}{{ count2 }}" href="#q{{ count1 }}{{ count2 }}">
        <p>{{ sequence.question }}</p>
      </a>
      <div id="q{{ count1 }}{{ count2 }}" class="collapse">
        <p>{{ sequence.answer }}</p>
      </div>
    </div>
    {% if clearfix == 0 %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}
  </div>
  <hr class="index-hr">
  {% endfor %}
</div>
