<footer id="footer" class="sm-padding bg-dark">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-push-4">
          {% social_icons radius="100%" margin="15px" height="2.5em" width="2.5em" size="1.3em" %}
        </div>
        <div class="col-md-4 col-md-pull-4">
          <div class="footer-logo">
            <a href="https://www.fordfoundation.org/regions/indonesia/">
              <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/logo/ford-foundation-logo-w.png" alt="Ford Foundation Logo">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-logo">
            <a href="https://www.wikimedia.or.id/">
              <img class="img-responsive center-block wmid-logo" src="{{site.baseurl}}/static/img/logo/wikimedia-logo-id.png" alt="Wikimedia Indonesia Logo">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="footer-copyright">
            <p>
              <a href="https://creativecommons.org/licenses/by/4.0/deed.id">
                CC BY 4.0
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/static/js/material.min.js"></script>
<script src="{{site.baseurl}}/static/js/material-kit.js"></script>
<script src="{{site.baseurl}}/static/js/nouislider.min.js"></script>
