<div class="section-header text-center">
    <h1 class="title">Selamat Kepada Penerima Hibah</h1>
</div>
<div id="grantee-carousel" class="owl-carousel owl-theme grantee-bg-img">
    <div class="row no-pad set set-1" id="grantee-set-1">
        <div id="grantee-199" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0199">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0199.jpg">
                    <div class="middle">
                        <div class="grantee">Wenda Maria Imakulata Tokomonowir</div>
                    </div>
                </a>
            </div>
        </div>
        <div  id="grantee-995" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0995">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0995.jpg">
                    <div class="middle">
                        <div class="grantee">Kahi Ata Ratu</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-164" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0164">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0164.jpg">
                    <div class="middle">
                        <div class="grantee">Endah Fitriana</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-1163" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/1163">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/1163.jpg">
                    <div class="middle">
                        <div class="grantee">Saartje Sylivia</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-701" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0701">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0701.jpg">
                    <div class="middle">
                        <div class="grantee">Raisa Kamila</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-729" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0729">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0729.jpg">
                    <div class="middle">
                        <div class="grantee">Monika Swastyastu</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-14" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0014">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0014.jpg">
                    <div class="middle">
                        <div class="grantee">Sanchia Tryphosa Hamidjaja</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-378" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0378">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0378.jpg">
                    <div class="middle">
                        <div class="grantee">Nanik Indarti</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-pad set set-2" id="grantee-set-2">
        <div id="grantee-313" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0313">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0313.jpg">
                    <div class="middle">
                        <div class="grantee">Intan Andaru</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-575" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0575">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0575.jpg">
                    <div class="middle">
                        <div class="grantee">Martha Hebi</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-62" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0062">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0062.jpg">
                    <div class="middle">
                        <div class="grantee">Chonie Prysilia</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-216" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0216">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0216.jpg">
                    <div class="middle">
                        <div class="grantee">Norci Nomleni</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-642" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0642">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0642.jpg">
                    <div class="middle">
                        <div class="grantee">Luviana Ariyanti</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-150" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0150">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0150.jpg">
                    <div class="middle">
                        <div class="grantee">Agnes Serfozo</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-391" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0391">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0391.jpg">
                    <div class="middle">
                        <div class="grantee">Rhidian Yasminta Wasaraka</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-92" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0092">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0092.jpg">
                    <div class="middle">
                        <div class="grantee">Indah Fikriyyati</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-pad set set-3" id="grantee-set-3">
        <div id="grantee-663" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0663">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0663.jpg">
                    <div class="middle">
                        <div class="grantee">Nova Ruth Setyaningtyas</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-1053" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/1053">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/1053.jpg">
                    <div class="middle">
                        <div class="grantee">Citra Hasan</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-353" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0353">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0353.jpg">
                    <div class="middle">
                        <div class="grantee">Erni H Aladjai</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-322" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0322">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0322.jpg">
                    <div class="middle">
                        <div class="grantee">Septina Rosalina Layan</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-588" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0588">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0588.jpg">
                    <div class="middle">
                        <div class="grantee">Dida Imada Maulina</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-963" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0963">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0963.jpg">
                    <div class="middle">
                        <div class="grantee">Alia Swastika</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-496" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0496">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0496.jpg">
                    <div class="middle">
                        <div class="grantee">Indah Darmastuti</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-727" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0727">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0727.jpg">
                    <div class="middle">
                        <div class="grantee">Nur Handayani</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-pad set set-4" id="grantee-set-4">
        <div id="grantee-688" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/hibahcme/688">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0688.jpg">
                    <div class="middle">
                        <div class="grantee">Kartika Jahja</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-734" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0734">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0734.jpg">
                    <div class="middle">
                        <div class="grantee">Ciptaningrat Larastiti</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-214" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0214">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0214.jpg">
                    <div class="middle">
                        <div class="grantee">Delva Rahman</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-1103" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/1103">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/1103.jpg">
                    <div class="middle">
                        <div class="grantee">Dewi Noviami</div>
                    </div>
                </a>
            </div>
        </div>

        <div id="grantee-875" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0875">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0875.jpg">
                    <div class="middle">
                        <div class="grantee">Feby Indirani</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-498" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0498">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0498.jpg">
                    <div class="middle">
                        <div class="grantee">Julianti Huki</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-923" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0923">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0923.jpg">
                    <div class="middle">
                        <div class="grantee">Jelsy Meivira</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-619" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0619">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0619.jpg">
                    <div class="middle">
                        <div class="grantee">Sartika Sari</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-pad set set-5" id="grantee-set-5">
        <div id="grantee-529" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0529">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0529.jpg">
                    <div class="middle">
                        <div class="grantee">Rena Amalika Asyari</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-647" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0647">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0647.jpg">
                    <div class="middle">
                        <div class="grantee">Wawa Sapta Rini</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-365" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0365">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0365.jpg">
                    <div class="middle">
                        <div class="grantee">Lia Anggia Nasution</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-523" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0523">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0523.jpg">
                    <div class="middle">
                        <div class="grantee">Sri Harti</div>
                    </div>
                </a>
            </div>
        </div>

        <div id="grantee-49" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0049">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0049.jpg">
                    <div class="middle">
                        <div class="grantee">Mona Sylviana</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-599" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0599">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0599.jpg">
                    <div class="middle">
                        <div class="grantee">Kadek Sonia Piscayanti</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-f-030" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/f-030">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/f-030.jpg">
                    <div class="middle">
                        <div class="grantee">Nikfon Wuny</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="grantee-1155" class="col-xs-3">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/1155">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/1155.jpg">
                    <div class="middle">
                        <div class="grantee">Azka Amalina</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-pad set set-6" id="grantee-set-6">
        <div id="grantee-407" class="col-xs-3 vcenter">
            <div class="img-container">
                <a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/0407">
                    <img class="img-responsive center-block grantee-image" src="/static/img/hibahcme/0407.jpg">
                    <div class="middle">
                        <div class="grantee">Ade Tanesya Aryana Uli P</div>
                    </div>
                </a>
            </div>
        </div><!--
        --><div class="col-xs-6 vcenter white-text text-center grantee-page-6" style="margin-left: 3em">
            Terima kasih,<br>Anda telah melihat 41 penerima hibah Cipta Media Ekspresi.
            Silahkan cek <a href="{{site.baseurl}}/ciptamediaekspresi/blog/">Kabar Terbaru disini</a>.
        </div>
    </div>
</div>

<script>
{% if index > 0 %}
$('.set .img-container').eq({{ index }}-1).addClass('active')
{% endif %}

$('#grantee-carousel').owlCarousel({
    items: 1,
    startPosition: Math.max(Math.ceil({{ include.index }} / 8) - 1, 0),
    nav: true,
    navText: ['<i class="fa fa-4x fa-chevron-circle-left"></i>', '<i class="fa fa-4x fa-chevron-circle-right"></i>'],
})
</script>
