<script>
  $(document).ready(function(){
    $(".cms-menu").hide();
    $(".cmb-menu").hide();
    $("#cms").click(function(){
      $(".cms-menu").toggle();
      $(".cmb-menu").hide();
    });
    $("#cmb").click(function(){
      $(".cmb-menu").toggle();
      $(".cms-menu").hide();
    });
  });  
</script>

<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/static/img/landing/logo-ekspresi-typo-w.png" width="200" class="img-responsive center-block" alt=""></a>
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="{{site.baseurl}}/index.html">Beranda</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tentang<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Cipta Media Ekspresi</li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/tentang-ekspresi.html">Tentang</a></li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/kategori-ekspresi.html">Kategori Hibah</a></li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/juri-ekspresi.html">Dewan Juri &amp; Panitia</a></li>
                    <li><a href="{{site.baseurl}}/kontak-kami.html">Kontak kami</a></li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/timeline-ekspresi.html">Linimasa</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Permohonan Hibah<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Permohonan Hibah</li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/pemohon-ekspresi.html">Pemohon Hibah</a></li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/penerimahibah/">Penerima Hibah</a></li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/peta.html">Peta</a></li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/syarat-ekspresi.html">Syarat &amp; Ketentuan</a></li>
                    <li><a href="{{site.baseurl}}/ciptamediaekspresi/faq-ekspresi.html">Pertanyaan Umum</a></li>
                </ul>
            </li>
            <li><a href="{{site.baseurl}}/ciptamediaekspresi/blog.html">Blog CME</a></li>
            <hr class="yellow-line">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyek Terdahulu <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <img src="{{site.baseurl}}/static/img/logo/cms.jpg" class="img-responsive center-block" alt="" id="cms" style="margin-bottom: 10px">
                    <li class="cms-menu"><a href="{{site.baseurl}}/ciptamediaseluler/tentangcms">Tentang CMS</a></li>
                    <li class="cms-menu"><a href="{{site.baseurl}}/ciptamediaseluler/proses">Proses</a></li>
                    <li class="cms-menu"><a href="{{site.baseurl}}/ciptamediaseluler/hibahcms-semua">Pemohon Hibah</a></li>
                    <li class="cms-menu"><a href="{{site.baseurl}}/ciptamediaseluler/penerimahibah/">Penerima Hibah</a></li>
                    <li class="cms-menu"><a href="{{site.baseurl}}/blogcms/">Blog CMS</a></li>
                    <img src="{{site.baseurl}}/static/img/logo/cmb.png" class="img-responsive center-block" alt="" id="cmb" style="margin-bottom: 10px">
                    <li class="cmb-menu"><a href="{{site.baseurl}}/ciptamediabersama/tentangcmb">Tentang CMB</a></li>
                    <li class="cmb-menu"><a href="{{site.baseurl}}/ciptamediabersama/proses">Proses</a></li>
                    <li class="cmb-menu"><a href="{{site.baseurl}}/ciptamediabersama/hibahcmb-semua">Pemohon Hibah</a></li>
                    <li class="cmb-menu"><a href="{{site.baseurl}}/ciptamediabersama/penerimahibah/">Penerima Hibah</a></li>
                    <li class="cmb-menu"><a href="{{site.baseurl}}/blogcmb/">Blog CMB</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <a href="{{site.baseurl}}/search/" class="btn-search">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</div>
