<script>
$(document).ready(function(){
  if ($(window).width() < 992) {
    $('#cms-header').attr('src', '{{site.baseurl}}/static/img/landing/index-cms-mobile.png');
    $('#cmb-header').attr('src', '{{site.baseurl}}/static/img/landing/index-cmb-mobile.png');
    $('.index-header-img-btn').addClass('btn-xs');
  }
});
</script>

<div class="container">
  {% include title-header.html %}
  <div class="row index-header-img-row text-center">
    <div class="col-md-12">
      <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/index-cme.png">
      <a href="{{site.baseurl}}/ciptamediaekspresi/" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Tentang CME
      </a>
    </div>
  </div>
  <div class="row index-header-img-row text-center">
    <div class="col-md-6">
      <img id="cms-header" class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/index-cms.png">
      <a href="{{site.baseurl}}/ciptamediaseluler/tentangcms" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Tentang CMS
      </a>
      <a href="{{site.baseurl}}/ciptamediaseluler/proses" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Proses CMS
      </a>
    </div>
    <div class="col-md-6">
      <img id="cmb-header" class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/index-cmb.png">
      <a href="{{site.baseurl}}/ciptamediabersama/tentangcmb" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Tentang CMB
      </a>
      <a href="{{site.baseurl}}/ciptamediabersama/proses" class="btn index-header-img-btn btn-rounded btn-outline wow bounceIn">
        Proses CMB
      </a>
    </div>
  </div>
  {% include latest-blog.html %}
  <div class="row">
    <div class="col-md-12 index-col">
      <h1 class="text-center allcaps">Kalender Aktivitas</h1>
      <hr class="index-hr">
      {% assign category = site.posts %}
      {% include kalender.html %}
    </div>
  </div>
</div>
