<style>
  .form-control {
    margin-bottom: 20px;
    background-color: rgb(244, 244, 244);
    border: 1px solid #fff;
  }
  .contact-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }
</style>

<div class="container contact-margin">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 vcenter">
      <h3 class="text-center">EMAIL</h3>
      <p class="text-center">info@ciptamedia.org</p>
      <form class="form-horizontal basic-form" id="kontak-kami" name="kontak-kami" netlify-honeypot="bot-field" action="thank-you" netlify>
        <p class="hidden">
          <label>Don’t fill this out: <input name="bot-field"></label>
        </p>
        <div class="form-group">
          <div class="col-md-6">
            <input type="text" name="nama" class="form-control" id="nama" placeholder="Nama" required>
          </div>
          <div class="col-md-6">
            <input type="email" name="email" class="form-control" id="email" placeholder="Surel / E-mail" required>
          </div>
          <div class="col-md-12">
            <input type="text" name="judul" class="form-control" id="judul" placeholder="Judul" required>
          </div>
          <div class="col-md-12">
            <textarea name="pesan" class="form-control" rows="5" id="pesan" placeholder="Pesan" required></textarea>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <input type="hidden" name="user_agent" id="user_agent">
          <button type="submit" class="btn main-btn">Kirim Pesan</button>
        </div>
      </form>
    </div><!--
    --><div class="col-xs-12 col-md-4 text-center vcenter">
      <h3>ALAMAT</h3>
      <p>
        Ivonne Kristiani<br/>
        Panitia Cipta Media Ekspresi
      </p>
      <p>
        Jalan Pati No. 1<br/>
        Menteng<br/>
        Jakarta Pusat, 10310<br/>
      </p>
      <hr class="yellow-line">
      <h3>WHATSAPP</h3>
      <p>+62 821 1172 4732</p>
    </div>
  </div>
</div>
