<script>
$(document).ready(function() {
  $('#setuju').click(function() {
    if ($(this).is(':checked')) {
      setTimeout(function() {
        $("#license-overlay").remove();
        $("#license-alert").remove();
      }, 1000);
    }
  });
});
</script>

<link rel="stylesheet" href="{{site.baseurl}}/static/css/license-alert.css">

<div id="license-overlay"></div>

<div id="license-alert" class="alert blue-link">
  <div class="text-center">
    <p>
      Anda akan mendaftarkan diri Anda ke dalam Cipta Media.<br>
      Harap sempatkan diri untuk memahami syarat penggunaan situs ini:
    </p>
  </div>
  <div class="license-tou">
    {% assign minimum_legal_age = "{{ site.minimum_legal_age }}" %}
    {% for tou in site.pages %}
    {% if tou.title == 'Syarat Penggunaan (Terms of Use)' %}
    <h3 class="text-center">{{ tou.title }}</h3>
    {{ tou.content | markdownify | replace: minimum_legal_age, site.minimum_legal_age }}
    {% endif %}
    {% endfor %}
  </div>
  <div class="text-center">
    <p>Anda bisa membaca halaman <a href="{{site.baseurl}}/faq">Pertanyaan Umum</a> untuk informasi lebih lanjut.</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="setuju"> SAYA SETUJU dan telah memahami syarat penggunaan situs Cipta Media
      </label>
    </div>
    <br>
    <a href="/"><small>Kembali ke Beranda</small></a>
  </div>
</div>
