<div id="juri" class="juri-bg md-padding">
    <div class="bg-img">
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="slider" class="owl-carousel owl-theme">
                    {% for juri in site.juri-cme %}
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="{{ juri.foto }}" class="img-responsive img-circle" alt="{{ juri.name }}">
                            <h3 class="white-text">{{ juri.name }}</h3>
                            <span><a class="index-link" href="{{ site.baseurl }}{{ juri.url }}">Profil</a></span>
                        </div>
                        <div class="white-text">{{ juri.content | truncatewords: 55 }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
