<div class="row">
  {% assign title = site.title | split: ' ' %}
  <div class="huge-text text-center"><span class="barlow-bold">{{ title.first }}</span> {{ title.last }}</div>
  <hr class="index-hr">
</div>
