.instagram-style-blockquote {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5), 0 1px 10px 0 rgba(0,0,0,0.15);
  margin: 1px;
  max-width: 658px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}

.instagram-style-shell {
  padding: 8px;
}

.instagram-bg {
  background: #F8F8F8;
  line-height: 0;
  margin-top: 40px;
  padding: 50.0% 0;
  text-align: center;
  width: 100%;
}

.instagram-bg-img {
  display: block;
  height: 44px;
  margin: auto;
  position: relative;
  width: 44px;
}

.instagram-bg-img:after {
  content: "\f16d"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 50px;
  color: #cccccc;
  top: 50%;
  left: 50%;
  position: absolute;
}

.instagram-style-p {
  color: #c9c8cd;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  padding: 8px 0 7px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.instagram-style-a {
  color: #c9c8cd;
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
