.index-col {
  padding-top: 70px;
}

.index-hr {
  width: 30%;
  border-top-color: #999;
}

.index-header-img-btn {
  position: relative;
  top: -80px;
  left: auto;
  margin-bottom: -40px;
  background-color: #2d2d2d;
}

.index-header-img-btn:hover {
  background-color: #2d2d2d;
  opacity: 0.5;
}

.index-header-img-row {
  margin-bottom: 0px;
}

.huge-text {
  font-size: 10vw;
  text-transform: uppercase;
}

.barlow-bold {
  font-weight: 700;
}

.allcaps {
  text-transform: uppercase;
}
