#license-alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px));
  z-index: 999;
  background-color: white;
  color: black;
  border-radius: 40px;
}

#license-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}

@media (max-width: 1024px){
  #license-alert {
    left: 5%;
    right: 5%;
    top: 50%;
    transform: translate(0%, calc(-50% - 0.5px));
  }
}

.license-tou {
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
}

.blue-link a {
  color: #337ab7;
}
