@import url('https://fonts.googleapis.com/css?family=Biryani');

body, p {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.title.text-center{
    margin-bottom: 50px;
}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}

.white-text {
  color: #FFFFFF;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}
@media (max-width: 991px){
    .fixed-section.affix{
        position: relative;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px){
    .btn {
        margin-bottom: 10px;
    }
}

#navbar .navbar{
    border-radius: 0;
}

.index-well{
    background-color: white;
    color: #cc6666;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    border: white;
    border-radius: 0px;
}

.index-cloud{
    transform: scale(0.7, 0.7);
    position: relative;
    top: -20px;
}
.index-leaf-blue-1{
        transform: rotate(7deg) scale(0.25, 0.25);
        position: relative;
        top: 2vh;
        left: 22vh;
}
.index-leaf-blue-2{
    transform: rotate(-7deg) scale(0.18, 0.18) scaleX(-1);
    position: relative;
    top: 10vh;
    left: -17vh;
}
.index-well-post{
        padding-top: 57vh;
}
@media only screen and (max-width:960px){
    .index-well-post{
        padding-top: 70px
    }
}
@media only screen and (min-width:760px){
    .index-cloud{
        transform: scale(0.7, 0.7);
        position: relative;
        top: -8vh;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.3, 0.3);
        position: relative;
        top: -12vh;
        left: 53vh;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 3vh;
        left: -8vh;
    }
}
@media only screen and (min-width:960px){
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.3, 0.3);
        position: relative;
        top: -12vh;
        left: 54vh;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 3vh;
        left: -10vh;
    }
}
@media only screen and (min-width:1024px){
    .index-cloud{
        transform: scale(0.5, 0.5);
        position: relative;
        top: 43vmin;
        left: 120%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.35, 0.35);
        position: relative;
        top: 45vh;
        left: 80vh;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vh;
        left: -13vh;
    }
}
@media only screen and (min-width:1200px){
    .index-cloud{
        transform: scale(0.5, 0.5);
        position: relative;
        top: 43vmin;
        left: 170%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.35, 0.35);
        position: relative;
        top: 48vmin;
        left: 335%;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vmin;
        left: 145%;
    }
}
@media only screen and (min-width:1440px){
    .index-cloud{
        transform: scale(0.5, 0.5);
        position: relative;
        top: 43vmin;
        left: 170%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.45, 0.45);
        position: relative;
        top: 48vmin;
        left: 335%;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vmin;
        left: 145%;
    }
}
@media only screen and (min-width:1600px){
    .index-cloud{
        transform: scale(0.7, 0.7);
        position: relative;
        top: 43vmin;
        left: 170%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.45, 0.45);
        position: relative;
        top: 48vmin;
        left: 335%;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vmin;
        left: 145%;
    }
}
@media only screen and (min-width:1920px){
    .index-cloud{
        transform: scale(0.7, 0.7);
        position: relative;
        top: 42vh;
        left: 80vh;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.4, 0.4);
        position: relative;
        top: 48vh;
        left: 100vh;
    }

    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 52vh;
        left: 43vh;
    }
}

.round-button {
    width:100%;
    margin-bottom: 20px;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #ffca5f;
}
.round-button-circle:hover {
    background:#c9a353;
}
.round-button a, .round-button span {
    display:block;
    float:left;
    width:100%;
    padding-top:45%;
    padding-bottom:50%;
    line-height:1.3em;
    margin-top:-0.5em;
    text-align:center;
    color:#ffffff;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.round-button.disabled, .round-button-circle.disabled {
   pointer-events: none;
   cursor: not-allowed;
   background-color: gainsboro;
}

a.index-link {
    color: #e2bc67;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
}

.index-title {
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    color: #a14243;
}

.tentang {
    color: #17374e;
    font-size: 1.3em;
    letter-spacing: 0.025em;
    line-height: 1.5em;
}

.tentang-side {
    color: #6ca59a;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}

.red-subtitle {
  text-transform: uppercase;
  color: #a14243;
}

.biryani-yellow-subtitle {
  font-family: 'Biryani', sans-serif;
  color: #e2bc67;
  text-transform: uppercase;
}

.bg-img {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.bg-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background: #0b455b;
}

header {
  position: relative;
}

#home {
  height: 100vh;
}

#home .bg-img { 
  background-image: url('/static/img/landing/bg_3.jpg');
}

#home .home-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.home-content h1 {
  text-transform: uppercase;
}

.main-btn, .white-btn {
  font-weight: bold;
  padding: 10px 35px;
  margin: 3px;
  border-width: 2px;
  border-radius: 5px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.main-btn {
  background: #ffc86e;
  color: #000;
}

.main-btn:hover, .main-btn:focus, .main-btn:active {
  background: #a14243;
}

.white-btn {
  background: #FFF;
  color: #10161A !important;
}

.main-btn:hover, .white-btn:hover {
  opacity: 0.8;
}

.header-wrapper h2 {
  display: inline-block;
  margin-bottom: 0px;
}

.section-header {
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}

.index-wrap {
  padding-top: 73px;
}

.index-margin img {
  width: 150px;
  height: 200px;
  float: right;
}

/* Globally update p to match h4 style because a lot of usage of h4 tag semantically should be a p */
p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-size: 16px;
}

.image-input {
  max-height: 200px;
  font-size: 14px;
  color: #A5A5A5;
}

blockquote {
  display: block;
  background: #fff;
  padding: 25px 20px 25px 55px;
  margin: 20px 10px 20px;
  position: relative;

  /*Font*/
  font-size: 18px;
  font-style: italic;
  color: #6ca59a;

  /*Borders - (Optional)*/
  border-left: 0px solid #6ca59a;
  border-right: 0px solid #6ca59a;
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #6ca59a;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover {
  color: #666;
}

blockquote em {
  font-style: italic;
}

.masonry {
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  padding: 10px;
}

@media only screen and (min-width: 320px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media only screen and (min-width: 768px) {
  .masonry {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
  }
}

@media only screen and (min-width: 992px) {
  .masonry {
    -moz-column-count: 8;
    -webkit-column-count: 8;
    column-count: 8;
  }
}

@media only screen and (min-width: 1200px) {
  .masonry {
    -moz-column-count: 10;
    -webkit-column-count: 10;
    column-count: 10;
  }
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.yellow-line {
  border-top: 1px solid #ffca5f;
}

.yellow-header {
  color: #e2bc67;
  font-family: 'Biryani', sans-serif;
  text-transform: uppercase;
}

.submission {
  min-height: 80vh;
}

#map {
	height: 600px;
	border: 1px solid #ccc;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-container .social {
  margin-right: 15px;
}

.social-container .social:last-child {
  margin-right: 0 !important;
}

.social-container A {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  background-color: #6ca59a;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.social-container .fa {
  font-size: 1.3em;
  color: #fff;
}

.social-container A:hover {
  background-color: white;
}
.social-container A:hover .fa-twitter {
  color: #019edc;
}
.social-container A:hover .fa-facebook {
  color: #3f5995;
}
.social-container A:hover .fa-youtube-play {
  color: #bf1211;
}
.social-container A:hover .fa-instagram {
  color: #8a3ab9;
}

.bg-dark {
  background-color: #1C1D21;
}

.md-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sm-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer {
  position: relative;
}

.footer-logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo > a > img {
  max-height: 80px;
  margin-top: 20px;
}

.footer-copyright p {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.footer-copyright a {
  color: #6aa59b !important;
}

.wmid-logo {
  max-height: 35px !important;
}

.stats-bg {
  position: relative;
}

.juri-bg {
  position: relative;
  margin-top: 20px;
}

#stats .bg-img {
  background-image: url('/static/img/landing/background2.jpg');
  height: inherit;
}

#juri .bg-img {
  background-image: url('/static/img/landing/background3.jpg');
  height: inherit;
}

.number {
  text-align: center;
  margin: 15px 0px;
}

.number i {
  color: #ffc95f;
  font-size: 36px;
  margin-bottom: 20px;
}

.number-header {
  font-size: 36px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 320px) {
  .komentar-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 240px;
    z-index: 99;
    opacity: 0.5;
  }
}

@media only screen and (min-width: 768px) {
  .komentar-btn {
    opacity: 1;
  }
}

.owl-theme .owl-dots .owl-dot span {
  border: none;
  background: #EEE;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  }
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #6195FF;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #6195FF;
  width:20px;
}

.owl-theme .owl-nav {
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.owl-theme:hover .owl-nav {
  opacity: 1;
}

.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #6195FF;
  color: #FFF;
  padding: 0px;
  width: 50px;
  height: 50px;
  border-radius:3px;
  line-height: 50px;
  margin: 0;
}

.owl-theme .owl-prev {
  left: 0px;
}

.owl-theme .owl-next {
  right: 0px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  opacity: 0.8;
  background: #6195FF;
}

.testimonial {
  margin: 15px 10px 15px 0px;
  font-size: 16px;
}

.testimonial-meta {
  position: relative;
  padding-left: 90px;
  height: 70px;
  margin-bottom: 20px;
  padding-top: 1px;
}

.testimonial img {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
}

.testimonial h3 {
  margin-bottom: 5px;
}

.testimonial span {
  font-size: 14px;
  color: #6195FF;
  text-transform: uppercase;
}

.img-container {
  position: relative;
}  

.grantee-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .grantee-image, .img-container.active .grantee-image {
  opacity: 0.3;
}

.img-container:hover .middle, .img-container.active .middle {
  opacity: 1;
}

.grantee {
  color: #eee;
  font-size: 22px;
}

.row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

#grantee-carousel .owl-nav [class*='owl-'] {
  background: none;
  color: white;
  margin-top: -23px;
  outline: none;
}

#grantee-carousel .owl-nav [class*='owl-']:hover {
  color: white;
}

#grantee-carousel .owl-nav [class*='owl-'].disabled {
  display: none;
}

@media (max-width: 768px) {
  .grantee {
    font-size: 14px;
  }

  #grantee-carousel .owl-nav [class*='owl-'] {
    font-size: 10px;
    margin-top: -18px;
  }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.grantee-page-6 {
  font-size: 24pt;
  font-weight: bold;
}

@media (max-width: 768px) {
  .grantee-page-6 {
    font-size: 10pt;
  }
}

@media (max-width: 375px) {
  .grantee-page-6 {
    font-size: 8pt;
  }
}

.grantee-bg-img {
  background-image: url(/static/img/landing/BG-penerima-hibah.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.bold-uppercase {
  font-weight: bold;
  text-transform: uppercase;
}

.proposal ul>li:nth-child(3)>ol>li>p:nth-child(1) {
  font-weight: bold;
}

.proposal ul>li:nth-child(3)>ol>li {
  list-style-type: lower-alpha;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.img-hide-broken[src="#"] {
  display: none;
}

.img-hide-broken[alt] {
  display: block;
  position: relative;
}

.img-hide-broken[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  line-height: 2;
  text-align: center;
  content: attr(alt);
}

.btn-search {
  display: block;
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 999;
}

a.disable {
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.field_name {
  font-weight: bold;
  margin-top: 25px;
}
