---
title: "Kategori: Tutorial"
permalink: "/tutorial/"
layout: info
---

{% include jpages.html %}
<script>
/* when document is ready */
$(function() {
	/* initiate plugin */
	$("#holder").jPages({
		containerID : "itemContainer",
		perPage : 10,
		startPage: 1,
		startRange: 1,
		midRange: 3,
		endRange: 1
	});
	$("button").click(function(){
		var page = parseInt( $("input").val() );
		$("#holder").jPages( page );
	});
});
</script>

<div class="container" style="margin-top: 30px;">

	<div class="row m-b-lg">
	    <div class="col-lg-12 text-center">
		<div class="navy-line"></div>
		<h1>Kategori: Tutorial</h1>
	    </div>
	</div>

	<div class="row m-b-lg">
		<div class="col-sm-2 col-sm-push-10">
			<div class="row m-b-lg">
				<div class="col-md-12">
				  <div class="dropdown">
				    <a class="btn btn-danger btn-block btn-lg dropdown-toggle" data-toggle="dropdown">Kategori
				    <span class="caret"></span></a>
				    <ul class="dropdown-menu">
				      <li class="dropdown-header"><h3><a href="/blogcms/">Cipta Media Seluler</a></h3></li>
				      {% for CMS in site.data.CMS %}
				      <li><a href="{{ CMS.href }}"><h4>{{ CMS.name }}</h4></a></li>
				      {% endfor %}
					<hr>
				      <li class="dropdown-header"><h3><a href="/blogcmb/">Cipta Media Bersama</a></h3></li>
				      {% for CMB in site.data.CMB %}
				      <li><a href="{{ CMB.href }}"><h4>{{ CMB.name }}</h4></a></li>
				      {% endfor %}
				    </ul>
				  </div>
				</div>
			</div>
		</div>
		<div class="col-sm-10 col-sm-pull-2">
			<div class="row m-b-lg">
				<div id="itemContainer">
				{% for post in site.categories['Tutorial'] %}
				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-4">
							<img src="{{ post.img }}" class="img-responsive center-block" style="max-height:140px">
						</div>
						<div class="col-sm-8">
							<a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
							<i class="fa fa-clock-o"></i> <a>{{ post.date | date: site.default_date_format }}</a>
							<p>{{ post.content | strip_html | truncatewords:30 }}</p>
							<div class="row">
								<div class="col-sm-12">
									{% for tag in post.tags %}
									<button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<hr>
				</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row m-b-lg text-center">
		<div class="col-md-12">
		    	<div class="pag-holder" id="holder"></div>
		</div>
		<div class="col-md-12">
			<input type="number" value="1" style="width: 40px; text-align: center;">
			<button>Lompat ke bagian ini</button>
		</div>
	</div>
</div>
