---
title: Laporan Kegiatan MK-160
layout: blog
---

<div class="container" style="margin-top: 70px;">

    <div class="row">
        <div class="col-lg-12">
            <p>
              <small>
                <a href="/index.html#one">Beranda</a> > <a href="../proses.html">Proses Cipta Media Bersama</a> > <a href="../penerimahibah.html">Penerima</a> > Laporan Kegiatan MK-160
              </small>
            </p>
        </div>
    </div>

	<div class="row">
	    <div class="col-lg-12 text-center">
		<div class="navy-line"></div>
		<h1>Laporan Kegiatan MK-160</h1>
	    </div>
	</div>

	<div class="row">

		{% for post in site.categories['MK-160'] %}
		<div class="col-md-12">
					<a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
					<i class="fa fa-clock-o"></i> <a>{{ post.date | date: site.default_date_format }}</a>
					<p>{{ post.content | strip_html | truncatewords:30 }}</p>
			<hr>
		</div>
		{% endfor %}

	</div>

</div>
