---
title: Pertanyaan Umum Cipta Media Ekspresi
layout: info
---
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">
    <section id="header" style="background-image: url(/static/img/landing/faq-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
    </section>
	<div class="container" style="margin-top: 30px;">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>

        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Icon_FAQ.png" style="max-height: 80px; margin-bottom: 40px">

        {% assign faq = site.data.faq-ekspresi.faq %}
        {% include faq.html %}

        <hr class="yellow-line">
        <div class="row">
          <h3 class="text-center yellow-header" id="pertanyaan-lainnya">Pertanyaan lainnya</h3>
          <div class="col-md-6 col-md-offset-3 text-center">
            <p>Anda memiliki pertanyaan lain yang belum tercakup pada halaman pertanyaan umum?</p>
            <p>Tanyakan kepada panitia via surel info@ciptamedia.org subyek: pertanyaan, atau via WhatsApp ke nomor +6282111724732</p>
         </div>
            </div>
        <hr class="yellow-line">
        <section style="margin-top: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-md-offset-1 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/kategori-ekspresi" class="round-button"><b>Kategori</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/timeline-ekspresi" class="round-button"><b>Linimasa</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/juri-ekspresi" class="round-button"><b>Dewan Juri</b><br><b>& Panitia</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/syarat-ekspresi" class="round-button"><b>Syarat &amp;</b><br><b>Ketentuan</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/faq-ekspresi" class="round-button"><b>Pertanyaan</b><br><b>Umum</b></a></div></div>
                    </div>
                </div>
            </div>
        </section>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_GirlBack_index.png">
    </div>
