---
title: Kategori Hibah
layout: info
---

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/kategori.png">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <a href="#kategori-akses"><h3 style="text-transform: uppercase; color: #a14243">Akses</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#kategori-perjalanan"><h3 style="text-transform: uppercase; color: #a14243">Perjalanan</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#kategori-kolaborasi"><h3 style="text-transform: uppercase; color: #a14243">Kolaborasi</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#kategori-lintas-generasi"><h3 style="text-transform: uppercase; color: #a14243">Lintas Generasi</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#kategori-riset"><h3 style="text-transform: uppercase; color: #a14243">Riset</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1" id="kategori-akses">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/akses.png">
                <h2 class="text-center">Akses</h2>
                <p>Kategori ini adalah pembuka jalan, sehingga perempuan yang mengalami hambatan dapat berkarya dengan lancar.</p>
                <p>Hambatan yang dialami bisa berupa larangan berkarya karena jenis kelamin/gender, tidak boleh mengakses alat musik atau alat produksi atau hambatan yang lebih mendasar seperti tidak punya ruang berkarya atau waktu bekerja karena harus mengurus keluarga.</p>
                <a style="color: #e2bc67" data-toggle="collapse" data-target="#akses" href="#akses" class="index-link"><b>Contoh <i class="fa fa-angle-down" aria-hidden="true"></i></b></a>
                <div id="akses" class="collapse">
                    <p>Contoh untuk kategori ini misalnya (tapi tidak terbatas pada):</p>
                    <ul>
                        <li>pengadaan alat atau ruang berkarya yang selama ini terbatas aksesnya bagi perempuan.</li>
                        <li>pengadaan dukungan untuk kegiatan mengurus anak atau keluarga (seperti tempat pengasuhan anak selama berkarya, latihan atau pertunjukan).</li>
                        <li>dukungan bagi kurator atau penyelenggara acara yang ingin menciptakan kesempatan menonton pertunjukan atau pameran dalam waktu yang ramah perempuan, keluarga dan anak.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2" id="kategori-perjalanan">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/mobilitas.png">
                <h2 class="text-center">Perjalanan</h2>
                <p>Jika Anda memiliki ketertarikan khusus untuk mencari ilham dari budaya lain, berkarya bersama orang-orang yang berada di luar dari tempat tinggal Anda baik yang dekat maupun jauh, atau ingin menunjukkan karya Anda kepada mereka, maka kategori ini tepat untuk Anda.</p>
                <p>Kategori ini mendukung perjalanan perempuan demi tujuan membuat atau menampilkan karyanya di lingkungan budaya yang berbeda-beda.</p>
                <p>Perempuan yang ingin menempuh perjalanan untuk melakukan studi lintas budaya juga dapat mendaftar di kategori ini.</p>
                <a style="color: #e2bc67" data-toggle="collapse" data-target="#jalan" href="#jalan" class="index-link"><b>Contoh <i class="fa fa-angle-down" aria-hidden="true"></i></b></a>
                <div id="jalan" class="collapse">
                    <p>Contoh untuk kategori ini misalnya (tapi tidak terbatas pada):</p>
                    <ul>
                        <li>perjalanan untuk melakukan kajian khusus mengenai budaya di luar tempat tinggal pelaku kebudayaan perempuan sebagai materi berkarya.</li>
                        <li>perjalanan untuk membuat pameran atau pertunjukan di luar tempat tinggal atau tempat yang biasa dikunjungi oleh pelaku kebudayaan perempuan.</li>
                        <li>perjalanan menghadiri acara atau kegiatan seni budaya.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1" id="kategori-kolaborasi">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/kolaborasi.png">
                <h2 class="text-center">Kerjasama/ Kolaborasi</h2>
                <p>Seni budaya selalu diperkaya oleh pikiran-pikiran yang berbaur dan para pencipta yang bekerjasama menghasilkan karya dan pikiran yang baru dan maju.</p>
                <p>Kategori ini adalah untuk proyek yang melibatkan kerjasama/kolaborasi lintas bidang, praktik seni komunal/kolektif atau kolaborasi dengan/di komunitas yang bukan seniman.</p>
                <p>Kami sadar bahwa makna kolaborasi cakupannya sangat luas, jangan berkecil hati kalau bentuk kolaborasi yang Anda inginkan tidak termasuk contoh yang diberikan, tetaplah ajukan praktik kolaborasi seni khas Anda sendiri.</p>
                <a style="color: #e2bc67" data-toggle="collapse" data-target="#kolab" href="#kolab" class="index-link"><b>Contoh <i class="fa fa-angle-down" aria-hidden="true"></i></b></a>
                <div id="kolab" class="collapse">
                    <p>Contoh untuk kategori ini misalnya (tapi tidak terbatas pada):</p>
                    <ul>
                        <li>kerjasama antara pembuat kriya (produk kerajinan) atau pemasak dengan penulis/juru foto/pembuat film untuk menyebarkan pengetahuan tentang kriya atau masakan.</li>
                        <li>kerjasama antara pemusik, musikolog dan komunitas perempuan lintas agama menciptakan suatu karya musik atau acara bersama.</li>
                        <li>kerjasama antara kurator, dokter/bidan dan seniman untuk mencipta atau mengumpulkan pengetahuan tentang kesehatan perempuan.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2" id="kategori-lintas-generasi">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/lintas-generasi.png">
                <h2 class="text-center">Lintas Generasi</h2>
                <p>Sejarah dan pemikiran perempuan dalam suatu komunitas masih sering diabaikan dan tidak masuk dalam versi yang diakui dan disebarluaskan turun-temurun.</p>
                <p>Informasi mengenai hal ini sangat sedikit dan bisa jadi hilang ketika satu generasi punah karena dialog antar generasi di antara sesama perempuan tidak mudah untuk diwujudkan, apalagi kalau perempuan jarang bisa bertemu sesama mereka.</p>
                <p>Kategori ini adalah untuk proyek yang mendorong para perempuan dan komunitasnya memikirkan tradisi dan sejarah peran perempuan atau peran gender dan seksualitas melalui sudut pandang perempuan.</p>
                <p>Karya yang merupakan karya cipta bersama perempuan seniman tua dan muda sangat dinanti!</p>
                <a data-toggle="collapse" data-target="#gen" href="#gen" class="index-link"><b>Contoh <i class="fa fa-angle-down" aria-hidden="true"></i></b></a>
                <div id="gen" class="collapse">
                    <p>Contoh untuk kategori ini misalnya (tapi tidak terbatas pada):</p>
                    <ul>
                        <li>kerjasama mengadakan pertunjukan kolaborasi antara seniman/pelaku kebudayaan perempuan dari generasi yang berlainan.</li>
                        <li>kerjasama antara seniman atau pelaku kebudayaan untuk mengumpulkan benda-benda bersejarah dari kehidupan perempuan dan membuat pameran serta menerbitkan catatan mengenainya.</li>
                        <li>kerjasama antara jurnalis, peneliti, perupa, penulis melacak jejak penciptaan perempuan dari generasi yang lalu.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1 vcenter" id="kategori-riset">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/riset.png">
                <h2 class="text-center">Riset/ Kajian/ Kuratorial</h2>
                <p>Untuk permohonan hibah dengan tujuan riset/ kajian mengenai:</p>
                <ol>
                  <li>praktik kebudayaan perempuan</li>
                  <li>mencari/mengenali medium/cara berkarya yang baru (biasanya untuk pencipta)</li>
                  <li>membuat kuratorial pameran/pertunjukan (biasanya untuk kurator)</li>
                </ol>
                <p>Prioritas kategori ini terletak pada proyek yang menawarkan kajian/riset baru dan memajukan pengetahuan mengenai praktik kebudayaan perempuan.</p>
                <a style="color: #e2bc67" data-toggle="collapse" data-target="#riset" href="#riset" class="index-link"><b>Contoh <i class="fa fa-angle-down" aria-hidden="true"></i></b></a>
                <div id="riset" class="collapse">
                    <p>Contoh untuk kategori ini misalnya (tapi tidak terbatas pada):</p>
                    <ul>
                        <li>proyek mengumpulkan pengetahuan dan memamerkan motif tenun karya perempuan di wilayah-wilayah di Indonesia beserta kisahnya.</li>
                        <li>proyek kajian mengumpulkan cerita pengalaman tentang media atau ruang produksi untuk pelaku kebudayaan perempuan berikut publikasinya.</li>
                        <li>proyek mendokumentasikan proses maupun karya para perempuan pemasak keluarga atau perajut dan membagikan hasilnya kepada masyarakat luas.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 well text-center vcenter" style="line-height: 1.7em; color: #e2bc67; font-weight: bold; background-color: white; border-radius: 0;">
                <h2>Catatan mengenai kategori:</h2>
                <p>Kami sadar akan adanya kemungkinan kategori yang saling tumpang-tindih. Para pendaftar diajak untuk memilik kategori yang paling cocok dengan proyek mereka, dan tidak terlalu khawatir mengenai kemungkinan kategori yang keliru. Setiap kategori adalah setara, tidak ada yang mendapat prioritas lebih tinggi dibandingkan yang lain dan juri akan memastikan supaya tiap kategori terwakili dengan selayaknya.</p>
            </div>
        </div>
        <hr style="border-top: 2px solid #ffca5f;">
        <section style="margin-top: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-md-offset-1 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/kategori-ekspresi" class="round-button"><b>Kategori</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/timeline-ekspresi" class="round-button"><b>Linimasa</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/juri-ekspresi" class="round-button"><b>Dewan Juri</b><br><b>& Panitia</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/syarat-ekspresi" class="round-button"><b>Syarat &</b><br><b>Ketentuan</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/faq-ekspresi" class="round-button"><b>Pertanyaan</b><br><b>Umum</b></a></div></div>
                    </div>
                </div>
            </div>
        </section>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_GirlBack_index.png">
    </div>
