---
title: Daftar Pengajuan Hibah Cipta Media Ekspresi Tertunda
layout: info
---

<div class="container submission">
  <h1 class="text-center">{{ page.title }}</h1>

  <div class="text-center" id="loading">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>

  <table class="table hidden" id="submission">
    <thead>
      <tr>
        <th class="text-center">Nomor</th>
        <th>Proyek</th>
        <th>Nama</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<script src="{{site.baseurl}}/static/js/gitlab-submission-mr-list.js"></script>
