---
title: Pemohon Hibah - Peta
layout: info
---

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/kategori.png">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-12">
                <div class="text-center" id="map"></div>
            </div>
        </div>
    </div>

{% include_cached peta.html %}

{% include stats.html %}
