---
title: Syarat & Ketentuan
layout: info
---

    <section id="header" style="background-image: url(/static/img/landing/syarat-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
    </section>
	<div class="container" style="margin-top: 30px;">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>

        <div class="row" style="margin-bottom: 0px">
            <div class="col-md-2 text-center">
                <a href="#permohonan"><h3 style="text-transform: uppercase; color: #a14243">Permohonan</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#transparansi"><h3 style="text-transform: uppercase; color: #a14243">Transparansi</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#lisensi"><h3 style="text-transform: uppercase; color: #a14243">Lisensi</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#kelayakan"><h3 style="text-transform: uppercase; color: #a14243">Kelayakan</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#alur"><h3 style="text-transform: uppercase; color: #a14243">Tenggat</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#tata-cara"><h3 style="text-transform: uppercase; color: #a14243">Tata Cara</h3></a>
            </div>
        </div>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Icon_FAQ.png" style="max-height: 80px; margin-bottom: 40px">
        <div class="row">
            <h3 class="text-center" id="permohonan" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Permohonan Hibah</h3>
            <div class="col-md-5 col-md-offset-1">
                <p>Hibah dapat diakses oleh siapa saja yang mengaku perempuan, berusia di atas 18 tahun (pada 21 April 2018) dan memiliki inisiatif seni budaya.</p>
                <p>Peserta yang bukan warga negara Indonesia harus memenuhi syarat sudah bekerja aktif di kalangan kebudayaan Indonesia selama paling tidak lima tahun.</p>
            </div>
            <div class="col-md-5">
                <p>Kesempatan terbuka bagi yang berkewarganegaraan Indonesia ataupun bukan. Permohonan hibah oleh Warga Negara Asing dan pemohon yang meminta hibah atas nama individu/ kelompok lain dikarenakan perempuan pencipta tidak fasih berbahasa Indonesia/ tidak fasih baca-tulis, diharuskan menggunakan formulir cetak yang akan tersedia tanggal 10 Januari 2018</p>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center" id="transparansi" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Transparansi</h3>
            <div class="col-md-5 col-md-offset-1">
                <p>Data diri Anda akan disimpan oleh panitia dengan tujuan untuk mengontak Anda apabila diperlukan dan tidak akan dipublikasikan ataupun diberikan ke pihak ketiga.</p>
                <p>Selain data diri, seluruh permintaan hibah Cipta Media Ekspresi yang masuk via formulir daring maupun cetak terbuka dan transparan untuk dilihat publik. Anda harus berasumsi bahwa informasi ini terekam selama-lamanya di internet dan panitia tidak bisa menghapusnya.</p>
            </div>
            <div class="col-md-5">
                <p>Tujuan membuka informasi pendaftaran adalah untuk mendapatkan masukan bagi proyek Anda. Informasi pendaftaran terbuka berarti publik dapat mengakses dan menanggapi.</p>
                <p>Untuk permintaan hibah yang sensitif dan mungkin membahayakan pemohon hibah apabila dibuka untuk publik akan dipertimbangkan oleh panitia untuk tertutup saat permintaan hibah yang dianggap sensitif masuk (<i>case-by-case basis</i>)</p>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center" id="lisensi" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Lisensi Creative Commons</h3>
            <div class="col-md-5 col-md-offset-1">
                <p>Lisensi hak cipta yang digunakan untuk seluruh hibah baik dari pendaftaran hingga pelaksanaan oleh penerima hibah adalah <a href="https://creativecommons.org/licenses/by/4.0/deed.id">Creative Commons CC-BY 4.0.</a></p>
            </div>
            <div class="col-md-5">
                <p>Secara sederhana pemegang hak cipta yang menggunakan lisensi ini memperbolehkan pengguna ciptaannya untuk dibagikan dan diadaptasi sesuai dengan ketentuan.</p>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center" id="kelayakan" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Permintaan Hibah Tidak Layak</h3>
            <div class="col-md-5 col-md-offset-1">
                <p>Duplikat / tidak patut / tidak terkait seni dan budaya.</p>
            </div>
            <div class="col-md-5">
                <p>Satu nama pemohon hanya boleh mengisi satu permintaan hibah, lebih dari satu maka permintaan hibah dianggap duplikat dan permintaan selanjutnya akan langsung ditolak. Formulir cetak hanya untuk WNA, permintaan atas nama, dan daerah-daerah dimana jaringan internet tidak ada. Penolakan langsung oleh panitia juga akan dilakukan oleh permohonan hibah yang tidak pantas / tidak sopan / ataupun tidak terkait dengan permohonan untuk upaya seni dan budaya.</p>
                <p>Keputusan panitia untuk permohonan yang ditolak tidak dapat diganggu-gugat</p>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center" id="alur" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Tenggat</h3>
            <div class="col-md-5 col-md-offset-1">
                <p>Pendaftaran hibah ditutup pada hari Minggu, 25 Maret 2018 mendekati tengah malam (23:00), seluruh permohonan hibah baik daring maupun cetak harus sudah diterima panitia sebelum batas ini atau tidak akan dipertimbangkan oleh juri. Klik <a href="{{site.baseurl}}/ciptamediaekspresi/timeline-ekspresi.html">linimasa</a> untuk lebih jelasnya.</p>
            </div>
            <div class="col-md-5">
                <p>Untuk memastikan formulir Anda mendapatkan waktu telaah yang baik dan pertimbangan awal maksimum dari anggota juri disarankan mengirim formulir seawal mungkin.</p>
                <p>Umumnya terjadi peningkatan tajam jumlah formulir masuk menjelang waktu penutupan pendaftaran, waktu yang diberikan tim juri untuk menelaah satu formulir akan menjadi jauh lebih singkat, pemohon hibah disarankan mengirim formulir seawal mungkin setelah membaca latar belakang dan syarat ketentuan mengenai hibah.</p>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center" id="tata-cara" style="color: #e2bc67; font-family: 'Biryani', sans-serif; text-transform: uppercase;">Tata Cara Permohonan Hibah</h3>
            <div class="col-md-5 col-md-offset-1">
                <p>Pemohon hibah harus mengisi dan mengirimkan formulir daring (<i>online</i>) berupa rancangan konsep proyek/ rencana pribadi. Apabila Anda meminta hibah atas nama orang lain baik individu atau kelompok, gunakan <a href="{{site.baseurl}}/static/formulir/CME_FormulirCetak_Final_180207.pdf" download="formulir"><b>formulir cetak/ unduhan</b></a></p>
                <p>Untuk mengisi formulir daring (<i>online</i>), pemohon hibah harus memiliki (1) Nomor KTP, (2) Akun google, (3) Nomor telpon seluler yang tersambung dengan aplikasi WhatsApp (lebih disukai, karena memudahkan identifikasi oleh panitia).</p>
                <p>Setelah diisi pemohon hibah akan mendapatkan pratayang dari hasil isian mereka, apabila puas, kirimkan, apabila ada perubahan silakan koreksi formulir Anda sebelum menekan tombol kirim.</p>
                <p>Kolom pemuatan berkas ada dua, satu diisi dengan foto pemohon hibah, dan satu lagi dapat diisi karya (ilustrasi/audio/video).</p>
                <p>Panitia akan menayangkan permohonan hibah yang masuk pada situs web Cipta Media Ekspresi, baik yang diterima via formulir daring atau cetak sebelum dinilai oleh tim juri. Permohonan hibah yang tidak ditayangkan berarti tidak lolos seleksi teknis panitia dan tidak diteruskan untuk dinilai oleh tim juri. Keputusan panitia tidak dapat diganggu-gugat.</p>
            </div>
            <div class="col-md-5">
                <p>Pemohon hibah harus menyertakan nama asli sesuai KTP, menyertakan foto satu orang perempuan yang akan bertanggung jawab dalam mengelola dana hibah dimana muka terlihat jelas, lebih disukai apabila foto dari dada keatas.</p>
                <p>Formulir cetak <i>(offline)</i> hanya diperuntukkan bagi pemohon hibah yang (1) Memohon hibah untuk orang lain yang tidak bisa berbahasa Indonesia/ tidak mahir baca tulis, (2) WNA (tidak memiliki KTP) yang identifikasinya adalah nomor passport, (3) tidak memiliki nomor telpon seluler yang bisa dihubungi, (4) jaringan internet / data langka.</p>
                <p>Khusus untuk pemohon hibah untuk orang lain yang tidak bisa berbahasa Indonesia/ tidak mahir baca tulis, persetujuan dari perempuan tersebut harus dicantumkan melalui cap jempol atau tanda tangan asli diatas formulir yang dicetak. Foto perempuan yang diwakilkan juga harus disertakan pada saat pengembalian formulir</p>
                <p>Formulir cetak/ unduhan dan persyaratan lampiran bisa dikembalikan kepada panitia via surat elektronik ke info@ciptamedia.org atau melalui pos dengan melampirkan CD / berkas hasil karya. <b>Formulir cetak dapat diunduh di <a href="{{site.baseurl}}/static/formulir/CME_FormulirCetak_Final_180207.pdf" download="formulir">sini</a></b> atau minta panitia mengirimkan formulir kepada Anda dengan mengirim alamat ke:<a href="mailto:info@ciptamedia.org?Subject=Permintaan%20Formulir" target="_top">info@ciptamedia.org</a> atau kontak via SMS/WA ke: 0821 1172 4732.</p>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <section style="margin-top: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-md-offset-1 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/kategori-ekspresi" class="round-button"><b>Kategori</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/timeline-ekspresi" class="round-button"><b>Linimasa</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/juri-ekspresi" class="round-button"><b>Dewan Juri</b><br><b>& Panitia</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/syarat-ekspresi.html" class="round-button"><b>Syarat &</b><br><b>Ketentuan</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="{{site.baseurl}}/ciptamediaekspresi/faq-ekspresi.html" class="round-button"><b>Pertanyaan</b><br><b>Umum</b></a></div></div>
                    </div>
                </div>
            </div>
        </section>
        <img class="img-responsive center-block" src="{{site.baseurl}}/static/img/landing/CME_Aset_GirlBack_index.png">
    </div>
