<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top">
  {% if jekyll.environment != 'production' and jekyll.environment != 'juri' %}
    {% include_cached developer_helper.html %}
  {% endif %}
  {{ content }}
  {% include_cached footer.html %}
</body>
</html>
