---
layout: info
---

{% if page.relative_path contains 'cmb' %}
  {% assign hibah = 'cmb' %}
{% elsif page.relative_path contains 'cms' %}
  {% assign hibah = 'cms' %}
{% else %}
  {% assign hibah = 'cme' %}
{% endif %}

<img class="img-responsive center-block" style="max-height: 30vh" src="{{site.baseurl}}/static/img/header/{{ hibah }}.png">

<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">{{ page.nomor }} - {{ page.title | xml_escape }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      {% if page.foto.url %}
         {% assign foto = page.foto.url %}
      {% elsif page.foto %}
         {% assign foto = page.foto %}
      {% else %}
         {% assign foto = nil %}
      {% endif %}
      {% if foto %}
        <img
          class="img-responsive center-block"
          src="{{ foto }}"
          style="max-height: 400px"
        >
        <br>
      {% endif %}
      <p class="field_name">Nama Inisiator</p>
      <p>{{ page.nama }}</p>
      {% case hibah %}
        {% when 'cme' %}
          {% include cme-profile.html %}
        {% when 'cms' %}
          {% include cms-profile.html %}
        {% when 'cmb' %}
          {% include cmb-profile.html %}
      {% endcase %}
  </div>
</div>
