---
layout: info
---

<link rel="stylesheet" href="{{site.baseurl}}/static/css/index.css">
<div class="container">
  {% include title-header.html %}
  <h1 class="text-center allcaps">{{ page.title }}</h1>
  {{ content }}
</div>
