---
layout: info
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.theme.default.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>

<div class="container">
  <div class="row" style="margin-top: 5em">
    <div class="col-md-3 col-md-offset-1 vcenter">
      <img class="img-responsive center-block" src="{{ page.foto }}">
    </div>
    <div class="col-md-7 col-xs-12 vcenter">
      <h2 class="index-title">{{ page.nama | xml_escape }}</h2>
      <h3 style="color: #e2bc67; text-transform: uppercase; font-weight: bold;">{{ page.title | xml_escape }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% case page.kategori %}
        {% when 'akses' %}
          {% assign img = 'akses.png' %}
        {% when 'kerjasama_kolaborasi' %}
          {% assign img = 'kolaborasi.png' %}
        {% when 'perjalanan' %}
          {% assign img = 'mobilitas.png' %}
        {% when 'lintasgenerasi' %}
          {% assign img = 'lintas-generasi.png' %}
        {% when 'riset_kajian_kuratorial' %}
          {% assign img = 'riset.png' %}
      {% endcase %}
      <img class="img-responsive center-block" src="{{ site.baseurl }}/static/img/landing/{{ img }}" style="max-height: 250px">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2 class="text-center" style="color: #e2bc67; text-transform: uppercase; font-weight: bold">Ringkasan Proyek</h2>
      <hr style="border-top: 1px solid #ffca5f;">
      <div class="row">
        <div class="col-md-3">
          <p style="font-weight: bold; color: #17374e;">Dana Proyek</p>
        </div>
        <div class="col-md-9">
          <p>Rp.{{ page.approved_dana }} Juta</p>
          <a {% return page.budget | relative_url | prepend: 'href="' | append: '"' if page.budget %}
             class="btn btn-xs {% return (page.budget ? 'main-btn' : 'disabled') %}"
            >Rincian Anggaran</a>
          <a {% return page.finance | relative_url | prepend: 'href="' | append: '"' if page.budget %}
             class="btn btn-xs {% return (page.finance ? 'main-btn' : 'disabled') %}"
            >Laporan Keuangan</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p style="font-weight: bold; color: #17374e;">Durasi</p>
        </div>
        <div class="col-md-9">
          <p>{{ page.durasi }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>{{ page.ringkasan }}</p>
          <a {% return page.proposal | relative_url | prepend: 'href="' | append: '"' if page.proposal %}
             class="btn {% return (page.proposal ? 'main-btn' : 'disabled') %}"
            >Proposal Lengkap</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="text-center" style="color: #e2bc67; text-transform: uppercase; font-weight: bold">Aktifitas</h2>
      <hr style="border-top: 1px solid #ffca5f;">
      <div class="row">
        <div class="col-xs-8 vcenter">
          <p>Belum ada kegiatan</p>
        </div><!--
        --><div class="col-xs-4 text-right vcenter">
          <small>21/04/2018</small>
        </div>
      </div>
    </div>
  </div>
</div>
{% include comment.html %}

<script src="{{site.baseurl}}/static/js/rsz-fallback.js"></script>

{% assign index = 0 %}
{% for item in site.data.final.list %}
  {% assign index = index | plus: 1 %}
  {% if item == page.nomor %}
    {% break %}
  {% endif %}
{% endfor %}
{% include grant-recipient-block.html index=index %}
