<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
{% if page.title == 302 %}
  {% include_cached 302-head.html %}
{% else if page.title == 404 %}
  {% include_cached 404-head.html %}
{% endif %}
<body id="page-top">
  {% include_cached header.html %}
  {{ content }}
  {% include_cached footer.html %}
</body>
</html>
