---
title: Cari
layout: info
permalink: search/
---

<link href="{{site.baseurl}}/static/css/index.css" rel="stylesheet">

<script>
$(document).ready(function(){
  $('.field').addClass('form-group');
  $('.btn-search').addClass('disable');
  $('label').addClass('control-label col-md-12');
  $('input').addClass('form-control');
  $('button[type="submit"]').addClass('btn btn-info');
});
</script>

<div class="container" style="padding-bottom: 140px">

    {% include title-header.html %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Cari</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <div class="search">
            {% jekyll_pages_api_search_interface %}
            {% jekyll_pages_api_search_results %}
          </div>
        </div>
    </div>

</div>
<script>JEKYLL_PAGES_API_SEARCH_BASEURL = '';</script>
<script async src="{{site.baseurl}}/assets/js/search-bundle.js"></script>
